* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.kmf-cpr-field{
    display: flex;
    width: 400px;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.kmf-cpr-field input[type=text]{
    height: 30px;
}
.kmf-cpr-field.sup{

}
.kmf-cpr-field.sup .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}