.post-types-container{

}
.single-post-type {
    margin: 0 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.single-post-type h2 {
    padding: 0.5rem 0.75rem;
}

.kmfdcpr-field {
    margin: 0 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 .kmfdcpr-field::after {
    display: table;
    content: "";
    clear: both;
}

.kmfdcpr-field .col-25 {
    width: 25%;
    display: block;
    float: left;
    margin-top: 6px;
}
.kmfdcpr-field.action-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    column-gap: 0.25rem;
}

.kmfdcpr-field input[type=text] {
    float: right;
    width: 100%;
    margin-top: 6px;
}

