* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.leaflet-control-zoom a{
	display: flex;
	justify-content: center;
	align-items: center;
}
	.kmf-store-locator-marker svg{
		margin-right: 14px;
    	color: #00f;
    	width:30px;
	}
.kmf-store-locator-marker .title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    margin: 15px;
}

.kmf-store-locator-marker .info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 10px 0 18px;
}

.kmf-store-locator-marker p {
    display:inline-flex;
    justify-content: center;
    align-items:center;
    font-weight:bold;
    margin:4px 0;
    padding:0;
}
.leaflet-container a.leaflet-popup-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
